.hero {
  background-image: url('../../assets/Blog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 52%;
  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
/* .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .text {
  display: flex;
  justify-content: center;
}
 */
