/* .navbar {
  background: none;
  display: flex;
  font-size: 1.4rem;
}

.navbar ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 36rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding-left: 4rem;
}

.navbar a:hover,
.navbar a:active {
  text-decoration: underline;
} */

/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */

/* .appbar {
  display: flex;
} */

/* .appbar {
  text-transform: uppercase;
}

.pictures {
  flex-grow: 1;
}

.list {
  display: flex;
} */

/* ********************************************************* */
.link a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.link a:hover {
  border-bottom: 1px solid white;
  color: white;
}

.link a.active {
  font-weight: bold;
}

.logo {
  height: 3rem;
}
