/* .footer {
  
}
 */

.footerLink {
  list-style: none;
}

.footerLink li {
  padding-bottom: 1rem;
}

.footerLink a {
  text-decoration: none;
  color: gray;
}

.footerLink a:hover {
  color: #007bff;
}
